# TilinX

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Entornos
.env
.env.local
.env.production
*.env

# DB
*.db
*.db.bak
*.sqlite

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
.idea/
*.sublime-*

# Proxys
certs/
mitmproxy-ca-cert.p12
mitmproxy-ca-cert.pem
mitmproxy-ca.pem
mitmproxy-dhparam.pem

# Credenciales auto-generadas
.proxy.auth
.db_key

# Datos operacionales
chat_ips_pending.json
chat_ips.json
ips.json
keys.json
uids.json

# Temp
tmp/
temp/
run/
*.tmp
